@model OutfitProject.Models.Sho

@{
    ViewBag.Title = "Details";
}
<hr />

<div>
    <h4>Shoes</h4>
    <div class="panel panelForm">
        <div class="container-fluid">
            <div class="row">

                @*  Details Section  *@
                <div class="col-md-6 detailText">
                    <h2>@Html.DisplayFor(model => model.ShoeName)</h2>
                    <h4>
                        @Html.DisplayFor(model => model.ShoeColor)
                        @Html.DisplayFor(model => model.ShoeType)
                    </h4>

                    <p>
                        Season: @Html.DisplayFor(model => model.ShoeSeason) <br />
                        Occasion: @Html.DisplayFor(model => model.ShoeOccasion)
                    </p>
                    <p>
                        @Html.ActionLink("Edit", "Edit", new { id = Model.ShoeID }, new { role = "button", @class = "greyButton" })
                        @Html.ActionLink("Back to List", "Index", new { id = Model.ShoeID },  new { role = "button", @class = "greyButton" })
                        @Html.ActionLink("Delete", "Delete", new { id = Model.ShoeID }, new { role = "button", @class = "greyButton" })
                    </p>
                </div>

                @*  Images Section  *@
                <div class="col-md-6 detailImg">
                    <img src="@Html.DisplayFor(model => model.ShoePhoto)" />
                </div>
            </div>
        </div>
    </div>
</div>

