@model OutfitProject.Models.Accessory

@{
    ViewBag.Title = "Details";
}
<hr />
<div>
    <div class="panel panelForm">
        <div class="container-fluid">
            <div class="row">

                @*  Details Section  *@
                <div class="col-md-6 detailText">
                    <h2>@Html.DisplayFor(model => model.AccessoryName)</h2>
                    <h4>
                        @Html.DisplayFor(model => model.AccessoryColor)
                        @Html.DisplayFor(model => model.AccessoryType)
                    </h4>

                    <p>
                        Season: @Html.DisplayFor(model => model.AccessorySeason) <br />
                        Occasion: @Html.DisplayFor(model => model.AccessoryOccasion)
                    </p>
                    <p>
                        @Html.ActionLink("Edit", "Edit", new { id = Model.AccessoryID }, new { role = "button", @class = "greyButton" })
                        @Html.ActionLink("Back to List", "Index", new { id = Model.AccessoryID }, new { role = "button", @class = "greyButton" })
                        @Html.ActionLink("Delete", "Delete", new { id = Model.AccessoryID }, new { role = "button", @class = "greyButton" })
                    </p>
                </div>

                @*  Images Section  *@
                <div class="col-md-6 detailImg">
                    <img src="@Html.DisplayFor(model => model.AccessoryPhoto)" />
                </div>
            </div>
        </div>
    </div>
</div>


       