@model IEnumerable<OutfitProject.Models.Accessory>

@{
    ViewBag.Title = "Index";
}
<hr />
<h2>Accessories</h2>
<p>Current number of Accessories: @ViewBag.AccessTotal</p>

<p>
    @Html.ActionLink("Would you like to add another Accessory?", "Create")
</p>
<div class="jumbotron">
    <div class="container-fluid">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-3">
                    <h4>@Html.DisplayFor(modelItem => item.AccessoryName)</h4>
                    <div class="thumbnail thumbBorder">
                        <a href="@Url.Action( "Details","Accessories",new { id=item.AccessoryID } )">
                            <img class="indexForm" src="@Html.DisplayFor(modelItem => item.AccessoryPhoto)">
                        </a>
                    </div>
                </div>

            }

        </div>
    </div>
</div>


            @*@Html.ActionLink("Edit", "Edit", new { id=item.AccessoryID }) |
            @Html.ActionLink("Details", "Details", new { id=item.AccessoryID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AccessoryID })*@
 