@model OutfitProject.Models.Top

@{
    ViewBag.Title = "Details";
}
<hr />

<div>
    <h4>Top</h4>
    
    <div class="panel panelForm">
        <div class="container-fluid">
            <div class="row">

                @*  Details Section  *@
                <div class="col-md-6 detailText">
                    <h2>@Html.DisplayFor(model => model.TopName)</h2>
                    <h4>
                        @Html.DisplayFor(model => model.TopColor)
                        @Html.DisplayFor(model => model.TopType)
                    </h4>

                    <p>
                        Season: @Html.DisplayFor(model => model.TopSeason) <br />
                        Occasion: @Html.DisplayFor(model => model.TopOccasion)
                    </p>
                    <p>
                        @Html.ActionLink("Edit", "Edit", new { id = Model.TopID }, new { role = "button", @class = "greyButton" })
                        @Html.ActionLink("Back to List", "Index", new { id = Model.TopID }, new { role = "button", @class = "greyButton" })
                        @Html.ActionLink("Delete", "Delete", new { id = Model.TopID }, new { role = "button", @class = "greyButton" })
                    </p>
                </div>

                @*  Image Section  *@
                <div class="col-md-6 detailImg">
                    <img src="@Html.DisplayFor(model => model.TopPhoto)" />
                </div>
            </div>
        </div>
    </div>
  
</div>
