@model IEnumerable<OutfitProject.Models.Top>

@{
    ViewBag.Title = "Index";
}
<hr />
<h2>Tops</h2>

<p>Current number of Tops: @ViewBag.TopsTotal</p>

<p>
    @Html.ActionLink("Would you like to add another Top?", "Create")
</p>

<div class="jumbotron">
    <div class="container-fluid">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-3">
                    <h4>@Html.DisplayFor(modelItem => item.TopName)</h4>
                    <div class="thumbnail thumbBorder">
                        <a href="@Url.Action( "Details","Tops",new { id=item.TopID } )">
                            <img class="indexForm" src="@Html.DisplayFor(modelItem => item.TopPhoto)">
                        </a>
                    </div>
                </div>               
            }

        </div>
    </div>
</div>


