@model IEnumerable<OutfitProject.Models.Outfit>

@{
    ViewBag.Title = "Index";
}
<hr />
<h2>Outfits</h2>

<p>
    @Html.ActionLink("Would you like to create an Outfit?", "Create")
</p>

@foreach (var item in Model)
{
    <div class="jumbotron">
        <h2>Outfit Number:  </h2>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <h4>@Html.DisplayFor(modelItem => item.Top.TopName)</h4>
                    <div class="thumbnail ">                        
                        <img src="@Html.DisplayFor(modelItem => item.Top.TopPhoto)" />
                    </div>
                </div>

                <div class="col-md-3">
                    <h4>@Html.DisplayFor(modelItem => item.Bottom.BottomName)</h4>
                    <div class="thumbnail">                     
                        <img src="@Html.DisplayFor(modelItem => item.Bottom.BottomPhoto)" />
                    </div>
                </div>

                <div class="col-md-3">
                    <h4>@Html.DisplayFor(modelItem => item.Sho.ShoeName)</h4>
                    <div class="thumbnail">                       
                        <img src="@Html.DisplayFor(modelItem => item.Sho.ShoePhoto)" />
                    </div>
                </div>

                <div class="col-md-3">
                    <h4>@Html.DisplayFor(modelItem => item.Accessory.AccessoryName)</h4>
                    <div class="thumbnail">                        
                        <img src="@Html.DisplayFor(modelItem => item.Accessory.AccessoryPhoto)" />
                    </div>
                </div>

            </div>

            @Html.ActionLink("Edit", "Edit", new { id = item.OutfitID }, new { role = "button", @class = "greyButton" }) 
            @Html.ActionLink("Details", "Details", new { id = item.OutfitID }, new { role = "button", @class = "greyButton" }) 
            @Html.ActionLink("Delete", "Delete", new { id = item.OutfitID }, new { role = "button", @class = "greyButton" })
        </div>
    </div>
      
}






